.watch-asset {
  border: 1px #e1e1e1 solid;
  padding: 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.watch-asset > *:first-child {
  flex: 1;
}

.watch-asset:not(:last-of-type) {
  margin-bottom: 16px;
}

.watch-asset__id {
  color: gray;
  letter-spacing: 2px;
  margin-bottom: 4px;
}

.watch-asset__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.watch-asset__symbol {
  font-size: 14px;
  color: gray;
  margin-bottom: 8px;
}

.watch-asset__price {
  color: green;
  letter-spacing: 1px;
  font-family: monospace;
  font-size: 18px;
  margin-right: 16px;
}

.watch-asset__price::before {
  content: "$";
}

@media screen and (min-width: 700px) {
  .watch-asset {
    border: 1px #e1e1e1 solid;
    padding: 24px;
    border-radius: 6px;
    width: 49%;
    margin-bottom: 16px;
  }
}
