@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 24px;
  font-family: "Comfortaa", cursive;
}

.App {
  max-width: 1100px;
  margin: 0 auto;
}

/* Global component CSS */

.btn {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: rgb(100, 100, 255);
  color: white;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 255);
}
