@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 24px;
  font-family: "Comfortaa", cursive;
}

.App {
  max-width: 1100px;
  margin: 0 auto;
}

/* Global component CSS */

.btn {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: rgb(100, 100, 255);
  box-shadow: 0px 2px 4px rgb(100, 100, 255, 0.5);
  color: white;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(75, 75, 255);
}

.btn:active {
  background-color: rgb(0, 0, 255);
}

.btn--warning {
  background-color: rgb(250, 120, 0);
  box-shadow: 0px 2px 4px rgb(250, 120, 0, 0.5);
}

.btn--warning:hover {
  cursor: pointer;
  background-color: rgb(250, 100, 0);
}

.btn--warning:active {
  background-color: rgb(250, 70, 0);
}
